<h1>Showing Posts</h1>

<p>
    <strong>Title:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @post.text %>
</p>

<div id="comments">
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
</p>
<p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
</p>
</div>

<p>
    <%= f.submit %>
</p>

<%end%>
<%= link_to 'Post List', posts_path %>